*{
    padding: 0;
    margin: 0   ;
}
.Navbar-container{
    width: 100%;
    height: 70px;
    background: var(--nav-color);
    display: flex;
    align-items: center;
    position: fixed;
}
.logo{
    margin-left: 20px;
    min-width: 100px;
    max-width: 200px;
    height: 100%;
    background: green;
}
.search-container{
    width: 60%;
    height: 40px;
    background: yellow;
    margin-left: 20px;
}
.fakeP{
    flex: 1;
}
.main-section-bar{
    width: 15%;
    height: 60%;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-section-bar-item1{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
   
  
   
   

  


}
.main-section-bar-item2{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.main-section-bar-item3{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.main-section-bar-item1-icon-box{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
   
}
.main-section-bar-item1-text-box{
    width: 100%;
    height: 30%;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-icons{
    color: white;
}
.main-section-bar-item2-icon-box{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
   
}
.main-section-bar-item2-text-box{
    width: 100%;
    height: 30%;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-section-bar-item3-icon-box{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: black;
   
}
.main-section-bar-item3-text-box{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
}
@media screen and (max-width:700px) {
    .main-section-bar-item1-text-box {
        display: none;
    }   
    .main-section-bar-item2-text-box {
        display: none;
    }   
    .main-section-bar-item3-text-box {
        display: none;
    }   
}
@media screen and (max-width:490px) {
    .search-container{
        display: none;
    }
    .main-section-bar{
        width: 63px;

    }
}